{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7168165209479181"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" /> {% block titlesection %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
        <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">
    {% block css %} {% endblock %}
    <style>
      
  nav {
    background-color: #1e3d59  !important;
  }
  footer {
    background-color: #1e3d59  !important;
  }
  .hell {
    background-color: #1e3d59  !important;
  }
  /* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */
      
    </style>{% block customstyling %} {% endblock %}
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper"> <a href="/" class="brand-logo" style="font-size: 25px;">  <i class="material-icons">book</i>NBRS </a> <a href=""
                        data-target="mobile-nav" class="sidenav-trigger"> <i class="material-icons">menu</i> </a>
                    <ul class="right hide-on-med-and-down hover_backcolor">
                        <li><a href="/book">Books</a></li>
                        <li><a href="/collection">Collection</a></li>
                        <li><a href="">AboutUs</a></li>
                         {% if user.is_authenticated %} <a class=" white black-text waves-effect waves-dark btn modal-trigger"
                            href="/auth/logout?next={{ request.path_info }}"><b>{{ user.username }} <span
                                    class="material-icons" style="vertical-align: -6px;"> logout</span> </b></a> {% else %} <a class=" white black-text waves-effect waves-dark btn modal-trigger"
                            href="/auth/signin?next={{ request.path_info }}"><b>LOGIN </b></a> {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul id="mobile-nav" class="sidenav">
        <li><a href="/book">Books</a></li>
        <li><a href="/">Collection</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/contact">ContactUs</a></li> {% if user.is_authenticated %} <a
            class="black white-text waves-effect waves-light btn" style="margin-left: 27px; margin-top: 7px;"
            href="/signup/logout?next={{ request.path_info }}">LOGOUT</a> {% else %} <a
            class="black white-text waves-effect waves-light btn" style="margin-left: 27px; margin-top: 7px;"
            href="/auth/signup?next={{ request.path_info }}">SIGN IN</a> {% endif %}
    </ul> {% block contents %} {% endblock %}<section>

        
        <footer class=" hide-on-small-only page-footer" >
            <div class="" style=" width: 90%; margin: auto;padding-left: 200px;">
                <div class="row">
                    
                    <div class=" col l2 m6 s12 offset-l1 ">
                        <h5 class="white-text">Quick Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/book">Books</a></li>
                            <li><a class="grey-text text-lighten-3" href="/book">Collection</a></li>
                            <li><a class="grey-text text-lighten-3" href="/">About Us</a></li>
                            
                        </ul>
                    </div>
                    <div class="col l2 m6 s12 ">
                        <h5 class="white-text">Contacts</h5>
                        <ul>
                            <li>Kathmandu, Nepal</li>
                            <li>contact@bookrecommendation.com</li>
                            <li>+977 9818678767</li>
                        </ul>
                    </div>
                    <div class=" col l3 m6 s12 offset-l1 ">
                        <h5 class="white-text">Visit Us</h5> <br> <a href=""
                            target="_blank"> <i style="color: white; margin: 5px 10px;"
                                class="fab fa-youtube-square fa-2x"></i></a> <a href=""
                            target="_blank"> <i style="color: white; margin: 5px 10px;"
                                class="fab fa-facebook-square fa-2x"></i></a> <a
                            href="" target="_blank"> <i
                                style="color: white; margin: 5px 10px;" class="fab fa-instagram fa-2x"></i></a> <a
                            href="" target="_blank"> <i
                                style="color: white; margin: 5px 10px;" class="fab fa-twitter-square fa-2x"></i> </a>
                    </div>
                </div>
                <hr>
                <div class="footer-copyright"style="padding-left: 100px;"> © Book Recommendation All Rights Reserved</div>
            </div>
        </footer>
        <footer class=" hide-on-med-and-up page-footer">
            <div class="" style=" width: 90%; margin: auto;">
                <div class="center-align row">
                    
                    <div class=" col l2 m6 s12 offset-l1 ">
                        <h5 class="white-text">Quick Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="">About Us</a></li>
                            
                        </ul>
                    </div>
                    <div class="col l2 m6 s12 ">
                        <h5 class="white-text">Contacts</h5>
                        <ul>
                            <li>Kathmandu Nepal</li>
                            <li>contact@bookrecommendation.com</li>
                            <li>+977 9818678767</li>
                        </ul>
                    </div>
                    <div class=" col l3 m6 s12 offset-l1 ">
                        <h5 class="white-text">Visit Us</h5> <a href="" target="_blank">
                            <i style="color: white; margin: 5px 10px;" class="fab fa-youtube-square fa-2x"></i></a> <a
                            href="" target="_blank"> <i
                                style="color: white; margin: 5px 10px;" class="fab fa-facebook-square fa-2x"></i></a> <a
                            href="" target="_blank"> <i
                                style="color: white; margin: 5px 10px;" class="fab fa-instagram fa-2x"></i></a> <a
                            href="" target="_blank"> <i
                                style="color: white; margin: 5px 10px;" class="fab fa-twitter-square fa-2x"></i> </a>
                    </div>
                </div>
                <hr>
                <div class="center-align footer-copyright"> © Book Recommendation All Rights Reserved</div>
            </div>
        </footer>
    </section>
    {% block js %} {% endblock %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9478bf204b.js" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $(".sidenav").sidenav(); $(".dropdown-trigger").dropdown(); });</script> 
    <script src="{% static 'js/init.js'%}"></script>
    
</body>

</html>