{% extends 'base_layout.html' %} {% load static %}{% block titlesection %}
<title>{{ book.english_name }}</title> {% endblock %}
{% block css %}
<style>
  .star {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}

.active {
  color: orange;
}

.checked {
  color: orange;
}

</style>
{% endblock %}

{% block js %}
<script>
  const stars = document.querySelectorAll('.star');
const ratingInput = document.getElementById('rating');

stars.forEach(function(star) {
  star.addEventListener('click', setRating);
});

function setRating(e) {
  const value = parseInt(e.target.getAttribute('data-value'));
  
  stars.forEach(function(star) {
    if (star.getAttribute('data-value') <= value) {
      star.classList.add('active');
    } else {
      star.classList.remove('active');
    }
  });
  
  ratingInput.value = value;
}

</script>
{% endblock %}

{% block contents %}

<br>
<br>

<div class="width_content_narrow">
    <div class="row">
     <div class="col s6 l12">
   
       <div class="card horizontal medium">
         <div class="card-image">
         {% if book.image %}<img src="{{ book.image }}">{% else %} <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1618241431i/57721484.jpg"> {% endif %}         </div>
         <div class="card-stacked">
           <div class="card-content">
             <h3 style="margin-top: -10px;"> {{ book.nepali_name }} ({{ book.english_name }})
             </h3>
             <p style="margin-top: -9px;"><span style="color: brown;">By {{ book.english_author }}    ( {{ book.nepali_author }} )</span></p>
             <span style="font-weight: 600; font-size: large;"> Genre <a href="/book?genre={{ book.genre }}">  &nbsp; {{ book.genre }}</a> </span>
             <div style="margin-top: 0px;">
               <span style="font-weight: 600; font-size: large;"> Rating &nbsp;</span>
               <span class="fa fa-star {% if book.avg_rating >= 1 %} checked {% endif %}" "></span>
               <span class="fa fa-star {% if book.avg_rating >= 2 %} checked {% endif %}""></span>
               <span class="fa fa-star {% if book.avg_rating >= 3 %} checked {% endif %}""></span>
               <span class="fa fa-star {% if book.avg_rating >= 4 %} checked {% endif %}""></span>
               <span class="fa fa-star {% if book.avg_rating >= 5 %} checked {% endif %}""></span> 
               <span style="font-weight: 600; font-size: large;"> &nbsp; {{ book.avg_rating }} of 5</span>
             </div>
             <span style="font-weight: 600; font-size: large;"> Publication &nbsp; <span style="color: brown;"> {{ book.Publisher }} </span></span>
   
             <p style="font-weight: 600; font-size: large;margin-top: 3px;"> Description </p>
             <p style="font-size: large; margin-top: 3px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde architecto quasi delectus ullam, voluptatum tenetur ipsum,
               minus, ut eius dolorum quis et atque excepturi voluptatibus autem eum magnam nesciunt. Deleniti dolorem voluptate rem consectetur 
               fuga ex nemo nam blanditiis quaerat reiciendis .</p>
   
              
           </div>
           
           <form action="" id="signup" method="POST">
            <input type="hidden" value="{{ id }}" name="book_id">
           <div class="card-action">
             <a class=" hell white-text waves-effect waves-light btn" href="#"><i class="material-icons left">calendar_month</i>{% if book.year_published %} {{book.year_published}} {% else %} 2000 {% endif %}</a> &nbsp; &nbsp; &nbsp;
             {% csrf_token %}{% if not has_in_collection %} <button id="signup_button" class="blue-grey darken-4 btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">add_box</i>Add to Collection</button>{% else %} In Collection {% endif %}  &nbsp; &nbsp; &nbsp;
             {% csrf_token %}{% if not has_in_cart %}<button id="signup_button" class=" hell white-text waves-effect waves-light btn" type="submit" name="action"><i class="material-icons left">shopping_cart</i>Buy Now</a>{% else %} In Cart {% endif %}
           </div>
          </form>
          
         </div>
       </div>
       
     </div>
   </div>
    </div>
    {% if suggestions %}

    <section class="width_content_narrow">
      <h4 style="padding-left: 10px;"> Books you may like </h4> 
      
      
        <div class="row">
          
        </div>
        <div class="width_content">
        <div class="row">
         
  
  
  
  
         
       {% for book in suggestions %}
  
  
          <div class="col s12 m4 l3">
            <div class="card">
              <div class="card-image">
                <a href="/book/{{ book.slug }}">{% if book.image %}<img src="{{ book.image }}" style="aspect-ratio: 9/14;">{% else %} <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1618241431i/57721484.jpg"></a>  {% endif %}            
              </div>
              <div class="card-title" style="color: black; display: flex; justify-content: space-between;padding: 1rem 0.5rem;font-size: 16pt;">
                <a href="/book/{{ book.slug }}" class="truncate" style="text-decoration: none;color: black;">{{ book.nepali_name }}</a>
                <a style="color: black;font-size: 14pt;">{{ book.avg_rating }}/5 </a>
              </div>
            </div>
          </div>
          
          {% endfor %}
          
  {% endif %}
            
        </div>    
      </div>
      </section>
  

<br>
    <section class="width_content_narrow">
        <div class="divider"></div>
        <br>
        <h4> Reviews </h4>
        
       <br>
        
        <!-- comment input filed-->
        <form action="" method="POST">
        <div>
          <div class="rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>
          <input type="hidden" name="rating" id="rating">
        
        <div class="input-field">
          <i class="material-icons prefix">comment</i>
          <textarea id="commentarea" class="materialize-textarea" name="review_text"></textarea>
          <label for="commentarea">Write Review Here</label> 
        </div>
        {% csrf_token %}
        
        <div class="right" style="margin-top: -15px;">
          <a class="blue-grey darken-4 waves-effect waves-light btn" onclick="document.getElementById('commentarea').value = ''">Cancel </a> &nbsp;
        
          <button class=" hell darken-4 waves-effect waves-light btn" type="submit" >Post</a>
        </div>
        </div>
        </form>
        
        <br> <br> 
        
        <!--comment sample-->
        {% for review in reviews %}
        <div class="load1">
          <span style="float: left;"><i class="material-icons left small">account_circle</i></span>
           <span style="font-size: 13pt; font-weight:600; "> @{{ review.author.username }} </span> <br>
           <span>  1 day ago </span>
           <p></p>
          

           <span class="fa fa-star{% if review.review >= 1 %} checked {% endif %}"></span>
           <span class="fa fa-star {% if review.review >= 2 %} checked {% endif %}"></span>
           <span class="fa fa-star {% if review.review >= 3 %} checked {% endif %}"></span>
           <span class="fa fa-star {% if review.review >= 4 %} checked {% endif %}"></span>
           <span class="fa fa-star {% if review.review >= 5 %} checked {% endif %}"></span>
           <p class="blogcomment">{{ review.review_text }}</p>
              
        
              <br>
              <div class="divider"></div>
              <br>
         </div>
        {% endfor %}
         
        
        
         
        
        </section>
        

{% endblock %}